#OPENAI_API_KEY=your_api_key_here
#GOOGLE_PLACES_API_KEY=dein_google_places_api_key
#DATABASE_URL=postgresql+psycopg://bmw_agent:change-me@postgres:5432/bmw_agent_app
#TEST_DATABASE_URL=postgresql+psycopg://bmw_agent:change-me@postgres:5432/bmw_agent_test

POSTGRES_DB=bmw_agent
POSTGRES_USER=bmw_agent
POSTGRES_PASSWORD=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

N8N_ENCRYPTION_KEY=sgi/xxxxxxxxxxxxxxx
N8N_HOST=localhost
N8N_PORT=5678
N8N_PROTOCOL=http
N8N_SECURE_COOKIE=false

TZ=Europe/Berlin
GENERIC_TIMEZONE=Europe/Berlin

TEST_RESET_TOKEN=xxxxxxxxxxxxxxxxx


#development test production
APP_ENV=development
ALLOW_TEST_RESET=true
