# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/
venv/

# macOS
.DS_Store

# VS Code
.vscode/

# Environment
.env

# Logs
*.log

# Test
.pytest_cache/

# Build
dist/
build/

# SQLite
*.db
*.sqlite3

# Jupyter
.ipynb_checkpoints/

# Coverage
.coverage
htmlcov/